<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Fraud Detection{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='css/images/logo.png') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='css/images/logo.png') }}" alt="Logo" id="logo">
        <nav>
            <a href="/">Accueil</a>
            <a href="/dashboard">Dashboard</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
